.button--solid,
.button--outline {
  min-width: 12rem;
  margin: 0.25rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem; /* Match outer margin */

  border-radius: 0.5rem;

  font-weight: bold;
}
.button--solid {
  padding: 0.5rem;
  background-color: var(--primary-500);
  color: var(--bg);
}
.button--outline {
  padding: 0.125rem 0.5rem;
}

/* icon */
.button--solid img,
.button--solid svg,
.button--outline img,
.button--solid svg {
  margin: 0.25rem;
}
.button img,
.button svg {
  fill: var(--bg);
}
.button--outline img,
.button--outline svg {
  fill: var(--primary-700);
}

/* hybrid-para
 * images with text*/

.hybrid-para {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.hybrid-para__text {
  flex-grow: 1;
  display: block;
}
.hybrid-para__image {
  flex-grow: 1;
}
.hybrid-para__image > img {
  max-width: min(
    45vw,
    calc(0.45 * var(--content-width))
  ); /* Grow with veiwport until hit max width */
  max-height: 25rem;
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hybrid-para:nth-of-type(2n-1) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .hybrid-para {
    flex-wrap: wrap;
  }
  .hybrid-para__image > img {
    max-width: 100%;
    width: auto;
  }
}
