@import url("~/assets/css/transitions.css");
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --content-width: 900px;
  --outer-width: 1100px;

  --fs: 18px;
  --font: "IBM Plex Sans", "Open Sans", "Helvetica Now Display DW", sans-serif;
  --fg: #242933;
  --bg: #e8ebed;
  --fg-secondary: #6e7a91;

  --primary: #6350FD;
  --primary-700: #3f2ec2;
}
html {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--fg);
  font-size: var(--fs);
  font-family: var(--font);
  text-underline-offset: 4px;
  width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
}

h1 {
  font-size: 28px;
  margin: 4rem 0 1rem;
  color: var(--primary);
}

h3 {
  font-weight: normal;
}
p {
  line-height: 1.6;
}
a {
  color: var(--fg);
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: 1px solid var(--fg-secondary);
}
ul {
  padding-left: 1.5rem;
}
ul li {
  margin-bottom: 0.5rem;
}
ul li::marker {
  padding-right: 0.5rem;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 32px;
  }
}

.scroll-id {
  position: relative;
  top: -5vh;
  visibility: hidden;
}
