@import url('~/assets/css/transitions.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --content-width: 900px;
  --outer-width: 1100px;

  --fs: 18px;
  --font: 'IBM Plex Sans', 'Open Sans', 'Helvetica Now Display DW', sans-serif;
  --font-display: 'Josefin Sans', 'IBM Plex Sans', 'Open Sans', "Helvetica Now Display DW", sans-serif;

  --gray-900: #242933;
  --gray-100: #e9ebed;

  --fg: var(--gray-900);
  --fg-rgb: 36, 41, 51;
  --bg: var(--gray-100);
  --bg-rgb: 232, 235, 237;

  --primary: hsl(247, 80%, 65%);
  --primary-rgb: 99, 80, 253;
  --primary-200: hsl(247, 60%, 80%);
  --primary-400: hsl(247, 80%, 70%);
  --primary-700: hsl(247, 62%, 30%);

  --red: #fb4d3d;
  --yellow: #ffc759;
  --green: #03cea4;
  --blue: #345995;
  --purple: #6350fd;
}
html {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--fg);
  font-size: var(--fs);
  font-family: var(--font);
  text-underline-offset: 4px;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: clip;
}

h1 {
  font-size: 28px;
  margin: 4rem 0 1rem;
  color: var(--primary);
}

h3 {
  font-weight: normal;
}
p {
  line-height: 1.6;
}
a {
  color: var(--fg);
}
hr {
  border: none;
}
ul {
  padding-left: 1.5rem;
}
ul li {
  margin-bottom: 0.5rem;
}
ul li::marker {
  padding-right: 0.5rem;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 32px;
  }
}

.scroll-id {
  position: relative;
  top: -5vh;
  visibility: hidden;
}
