@import url("~/assets/css/transitions.css");
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --content-width: 1400px;

  --fs: 16px;
  --font: "IBM Plex Sans", "Open Sans", "Helvetica Now Display DW", sans-serif;
  --fg: #242933;
  --bg: #e8ebed;
  --fg-secondary: #6e7a91;

  --fg-rgb: 36, 41, 51;
  --bg-rgb: 224, 228, 230;
}
html {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--fg);
  font-size: var(--fs);
  font-family: var(--font);
  text-underline-offset: 4px;
  overflow-x: hidden;
}
body {
  margin: 0;
}

h3 {
  font-weight: normal;
}
p {
  line-height: 1.6;
}
a {
  color: var(--fg);
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: 1px solid var(--fg-secondary);
}

.scroll-id {
  position: relative;
  top: -5vh;
  visibility: hidden;
}
