.page-btn {
  position: fixed;
  z-index: 90;
  bottom: 2rem;
  right: 2rem;
  --size: 3rem;
  height: var(--size);
  width: var(--size);
  border-radius: calc(var(--size) / 2);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg);
  border: 1px solid var(--fg);
  color: var(--fg);
  transition: 200ms background-color, 200ms fill;
}
@media screen and (min-width: 900px) {
  .page-btn:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    --fg: var(--gray-100);
  }
}

.page-btn :deep(svg) {
  transform: scale(1.2);
  fill: var(--fg);
  transition: 200ms fill;
}
