.page-enter-active,
.page-leave-active {
  --trn-time: 550ms;
  --trn-func: cubic-bezier(0.29, 0.11, 0.06, 1);
  transition: all var(--trn-time) var(--trn-func);
}
.page-enter-active::before,
.page-leave-active::before {
  content: "";
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 120%;
  left: 0;
  transition: top var(--trn-time) var(--trn-func),
    bottom var(--trn-time) var(--trn-func);
  background-color: rgba(var(--bg-rgb), 97%);
  border-block: 1px solid var(--fg);
}
.page-leave-from::before {
  top: 100vh;
}
.page-leave-to::before {
  top: 0;
}
.page-enter-from::before {
  bottom: 0;
}
.page-enter-to::before {
  bottom: 100vh;
}
