a {
  font-size: var(--ui-fontsize);
  margin: 0;
  height: 1.4rem;
  text-align: center;
  color: var(--bg-300);
  position: relative;
  display: flex;
  align-items: center;
}
.icon {
  padding: 0.5rem;
  column-gap: 0.25rem;
  font-weight: bold;
  transition: background-color, border-radius, transform 75ms ease-in-out;
}
.icon img {
  margin: 0 0.375rem;
  display: inline-block;
}
.icon:hover {
  background-color: var(--bg-700);
  border-radius: 0.5rem;
  transform: scale(1.03);
}
.icon:active {
  transform: scale(0.95);
}

.nav__links a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color, color, fill 75ms ease-in-out;
}
.nav__links a:hover {
  text-decoration: underline;
}

.nav__links svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: var(--fg);
  margin: 0 0.25rem;
}
